tr id=dom_id(admin)
  td.id=admin.id
  td.width-2em = admin.email
  td.width-2em = admin.roles
  td.width-2em = admin.sign_in_count
  td.width-2em = admin.current_sign_in_ip
  td.width-2em = admin.created_at
  td.width-2em.center = lock_link_for admin
  td.center.width-2em
    = link_to '编辑权限', edit_roles_admin_path(admin.id), remote: true, method: :delete, data: { confirm: '确定更新该用户的权限吗?' }
  td.center.width-2em
    = link_to '删除', admin, remote: true, method: :delete, data: { confirm: '确定删除当前管理用户吗?' }



