<% @page_is = 'page-is-sign-in' %>
<div class="v-gap"> </div>
<div class="v-gap"> </div>
<div class="v-gap"> </div>
<div class="v-gap"> </div>
 <h1>找回密码</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.email_field :email, :autofocus => true, placeholder: 'email', class: 'input-text' %>
    <%= f.submit "发送邮箱", class: 'btn-submit'%>
<% end %>

